@import "~bulma/sass/utilities/initial-variables"
@import "projects.sass"
@import "footer.sass"
@import "nav.sass"

// Config vars
$ekletka-primary: #f2545bff;
$ekletka-primary-invert: #ced4d3ff;

$bittersweet-shimmer: #bc4c54ff;
$cordovan: #86434cff;
$gunmetal: #19323cff;
$deep-space-sparkle: #445960ff;
$slate-gray: #6f7f83ff;
$quick-silver: #9aa5a7ff;
$silver-sand: #c4cbcaff;
$platinum: #e6e9e8ff;

//$ekletka-primary: #0082cb
//$ekletka-primary-invert: #fff

$primary: $ekletka-primary
$primary-invert: $ekletka-primary-invert
$body-color: white
$black: #2b2523

body
	background-color: $ekletka-primary-invert;

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-transition: all .15s ease
    transition: all .15s ease

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $ekletka-primary-invert
$menu-item-active-background-color:	$ekletka-primary-invert
$menu-list-border-left: 1px solid $ekletka-primary-invert
$menu-label-color: $white-ter

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left