@import "~bulma/sass/utilities/initial-variables"

footer
  padding: 3rem 0rem 0rem
  background-color: #EEE
  border-top: 1px solid black;

.social
	padding: 2em

.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

