@import "variables.sass"

footer
  padding: $big-padding
  background-color: #EEE
  border-top: 1px solid black

  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  justify-items: center

.footer-logo
  width: 200px

.footer-links
  