@import "variables.sass"
	
$sectionHeight: 1081px
$topPadding: 265px
$mainPageHeight: 816px

.main-page-container
	position: relative
	overflow: hidden
	width: 100%
	padding: $site-padding
	padding-top: $topPadding
	padding-bottom: 0

.main-page-blob-wrapper
	z-index: -20
	
.main-page-blob
	position: absolute
	will-change: transform
	z-index: -2
	
.main-page-section
	width: 100%

	font-family: "Roboto"
	font-weight: 900
	color: #434343
	text-align: left

	box-sizing: border-box
	position: relative

.main-page-service
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: center

	height: $sectionHeight

.main-page-hero-section
	height: $mainPageHeight

.main-page-section > h1
	font-size: 120px

	max-width: 14ch

	line-height: 159px

	mix-blend-mode: multiply

.main-page-section > h2
	font-size: 100px
	max-width: 16ch
	line-height: 132px

.main-page-hero-section > h2
	font-size: 40px
	max-width: 30ch
	line-height: 75px

.main-page-projects
	flex-direction: row
	flex-wrap: wrap

	justify-content: space-between

	padding: 74px 0

.main-page-project
	background-color: white
	width: 45% 
	height: 100%

	border-radius: 36px

	box-shadow: 5px 5px 10px rgba(0,0,0,0.16)

.main-page-service-copy
	font-weight: 400
	max-width: 60ch
